@layout('main')
@section('content')
<h1>Tasks</h1>
<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>
<div class="list-group">
 
  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
  <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
</div>
@endsection 